@page "/new"

<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" value="@Request.Title" class="form-control" id="title"
               @onchange="@(args=>Request.Title=args.Value.ToString())">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" value="@Request.Description"
               @onchange="@(args=>Request.Description=args.Value.ToString())">
    </div>
    <div class="form-group">
        <label for="description">End Date</label>

        <input type="date" class="form-control" id="endDate" value="@Request.EndDate" @onchange="@(ev=>Request.EndDate= DateTime.Parse(ev.Value.ToString()).ToString("yyyy-MM-dd"))" />
    </div>
    <button type="button" class="btn btn-primary" @onclick="Create" disabled="@(string.IsNullOrEmpty(Request.Title))">Create</button>
</form>